body, h1, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #282c34;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.title {
    font-size: 40px;
    font-family: sans-serif;
    color: #fff;
}

.text {
    font-size: 20px;
    font-family: sans-serif;
    color: #ffffff88;
    margin-bottom: 30px;
    text-align: center;
}

.button {
    padding: 12px 30px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #282c34;
    border-radius: 8px;
    border: 0;
    background: #61dafb;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background: #fff;
}

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.img {
    width: 250px;
    height: auto;
    animation: 5s linear infinite spin;
}

