body, h1, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 20px;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.title {
    font-size: 40px;
    font-family: sans-serif;
    color: #fff;
}

.text {
    font-size: 30px;
    font-family: sans-serif;
    color: #ffffff88;
    margin-bottom: 30px;
}

.button {
    padding: 12px 30px;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 8px;
    border: 0;
    background: rgb(56, 116, 247);
    outline: none;
    cursor: pointer;
}

.button:hover {
    background: rgb(22, 93, 245);
}